@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*Header*/

.navbar {
    border-radius: 0;
    margin-bottom: 0px;
}
.navbar-default {
    background-color: #025463;
    border-color: #025463;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #36deb3;
    background-color: #024855;
}

.logo {
	position: relative;
    top: 10px;
}

.navbar-fixed-top{
	padding-bottom:20px;
}

.navbar-collapse.collapse {
  display: block!important;
}


/*Section green*/
.green{
	background-color: #36deb3;
	padding-top:60px;
	padding-bottom:60px;
}
.fondo{
	padding-bottom: 450px;
	background-image:url(../images/slider/bg1.jpg);
	background-repeat:no-repeat; 
	background-size:cover;
	width:100%;
}

.text-sec{
	padding-top: 200px;
	color: #ffffff;
}

.text-2{
	color: #ffffff;
}

.small{
	color:#ffffff;
	font-size:14px;
}
.twitter{
	color: #ffffff;
}
.facebook{
	color: #ffffff;
}
.Google{
	color: #ffffff;
}

.about{
	color:#ffffff;
}
.t-r{
	padding-top:20px;
}
/*Section gray*/
.box-gray {
 color: #000000;
 font-size:12px;
}

.gray{
	background-color:#EAEAEA;
	padding-top:60px;
	padding-bottom:60px;
}

.box-gray-color{
	background-color:#ffffff;
}

.color-blue{
	color:#010F22;
}

.text-tean{
	margin-top:50px;
	margin-bottom:20px;
}
.text-p{
	margin:10px;
	text-align:justify;
	margin-bottom:40px;
}

.img-circle{
	margin:10px;
}
.justify-Tex{
	text-align:justify;
	margin:10px;
}
.back-blanc{

	background-color: #ffffff;
	border-radius:10px;
}
.text-pie{
	margin:10px;
	font-size:20px;
}
.i-pie{
	margin:10px;
	color:#A4A4A4;
}
/*Section red*/

.red{
	padding-top:60px;
	padding-bottom:60px;
	background-color:#FF3434;
	color: #ffffff;
}
/*section blue*/

.blue{
	background-color:#183861;
}
.media-body{
	margin-top: 20px;
}
.sec-2{
	margin-top: 20px; 
	color: #ffffff;
}

.list-company {
	list-style:none;
	text-decoration: none;
}

.list, a{
	list-style: none;
	color: #ffffff;
}

.media-object{
	position:relative;
	float:left;
	margin:10px;
}

/*footer*/

footer{
	background-color: #091B32;
}

.Shape-inline{
	color: #ffffff;
}

/*Iconos */


.fa-twitter-square{
	font-size: 80px;
	color: #00BCA0;
}

.fa-google-plus-square {
	font-size: 80px;
	color: #00BCA0;
}

.fa-facebook-square{
	font-size: 80px;
	color: #00BCA0;
}

.fa-windows{
	font-size: 20px;
	color:#848484;
}
.fa-android{
	font-size: 20px;
	color:#848484;
}
.fa-apple{
	font-size: 20px;
	color:#848484;
}

.fa-facebook{
	color:#0033ff;
	font-size:20px;
	margin:5px;
}
.fa-google-plus{ 
	color:#d34836;
	font-size:20px;
	margin:5px;
}
.fa-twitter{
	color:#3ECCFC;
	font-size:20px;
	margin:5px;
}
.fa-linkedin{
	color:#013E52;
	font-size:20px;
	margin:5px;
}

.fa-windows{
	color: #A6A6A6;
	font-size:60px
}
.btn-num{
	margin-top:35px;
}
.b {
	color:#ffffff;
	background-color: #C3021F;
    border-color: #c1c1c1;
}

.btn {
	font-size:15px;
}
.progress-bar-success {
    background-color: #d9534f;
}
.progress-bar-danger {
    background-color: #f0ad4e;
}
.progress-bar-info {
    background-color:  #5cb85c;
}
.progress-bar-warning {
    background-color: #3CAFFF;
}

.img-circle{
	border: 5px solid #ffffff;
	-moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

/* IMG */
.ipsum{
	margin-top:60px; 
}
.back-item1{
	width:330px;
	height:320px;
	background-color:#ffffff;
	padding-top:10px;
	margin:10px;
}
.back-item2{
	width:330px;
	height:320px;
	background-color:#ffffff;
	padding-top:10px;
	margin:10px;
}
.back-item3{
	width:330px;
	height:320px;
	background-color:#ffffff;
	padding-top:10px;
	margin:10px;
}
.item1{ 
	width:300px;
}
.item2{
	width:300px;
	height: 270px;
}
.item3{
	width:300px;
	height: 270px;
}
